In [20]:
pip install Forex-API,CurrencyConverter

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: 'Forex-API,CurrencyConverter'

In [21]:
import pandas as pd
import numpy as np

In [22]:
from forex_python.converter import CurrencyRates

In [23]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\naah\.conda\envs\abaenv\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\naah\.conda\envs\abaenv\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [24]:
df = pd.read_excel("C:\\Users\\NAAH\\OneDrive\\Desktop\\DS\\Currency\\currency.xlsx")

In [25]:
df['Date'] = pd.to_datetime( df['Date'] )
df.sample(20)

    transaction_id      Amount Currency       Date Autorisation
5          4881615  819.192469      PLN 2019-04-06         Fred
37         4881518  806.071723      BRL 2019-05-08         Fred
29         4877291  607.767292      PLN 2019-11-30         Fred
0          4903575  875.894663      CHF 2019-04-01        Willy
27         4908524  482.891603      BGN 2019-11-28         Fred
18         4910467  576.563519      EUR 2021-04-19        Willy
10         4901177  280.012170      EUR 2019-04-11        Willy
24         4880511  200.071910      CHF 2019-11-25        Willy
19         4901219  194.648615      BGN 2021-11-20         Fred
35         4877575  866.024408      SEK 2019-05-06         Fred
17         4897627  882.426069      USD 2021-04-18         Fred
1          4904445  320.372665      USD 2019-04-02         Fred
8          4879666  831.079396      CHF 2019-04-09        Willy
2          4914085  186.833682      EUR 2019-04-03        Willy
20         4895217  900.105461      SEK 2021-11-21        Willy
32         4879842   95.642918      USD 2019-05-03        Willy
21         4911087  941.112209      PLN 2019-11-22         Fred
16         4908879  697.473283      CHF 2021-04-17        Willy
33         4903175  925.834052      EUR 2019-05-04         Fred
13         4894727  324.492779      PLN 2021-04-14         Fred

In [28]:
def convert_to_ghs(row):
    if row['Currency'] == 'USD':
        return row['Amount']*11.63
    
    elif row['Currency'] == 'EUR':
        return row['Amount']*12.22
    
    elif row['Currency'] == 'CHF':
        return row['Amount']*12.66
    
    elif row['Currency'] == 'SEK':
        return row['Amount']*1.05
    
    elif row['Currency'] == 'RON':
        return row['Amount']*2.45
    
    elif row['Currency'] == 'PLN':
        return row['Amount']*2.63
    
    elif row['Currency'] == 'BRL':
        return row['Amount']*2.25
    
    elif row['Currency'] == 'BGN':
        return row['Amount']*6.23
    else:
        return row['Amount'] 

df['Amount (GHS)'] = df.apply(convert_to_ghs, axis=1)

# Print the DataFrame with converted amounts
print(df)

    transaction_id      Amount Currency       Date Autorisation  Amount (GHS)
0          4903575  875.894663      CHF 2019-04-01        Willy  11088.826435
1          4904445  320.372665      USD 2019-04-02         Fred   3725.934089
2          4914085  186.833682      EUR 2019-04-03        Willy    186.833682
3          4894443  641.458547      BGN 2019-04-04         Fred   3996.286750
4          4905211  995.461312      SEK 2019-04-05        Willy   1045.234378
5          4881615  819.192469      PLN 2019-04-06         Fred   2154.476193
6          4894551  216.436366      BRL 2019-04-07        Willy    486.981824
7          4895988  667.205630      RON 2019-04-08         Fred   1634.653793
8          4879666  831.079396      CHF 2019-04-09        Willy  10521.465157
9          4901830  650.591691      USD 2019-04-10         Fred   7566.381363
10         4901177  280.012170      EUR 2019-04-11        Willy    280.012170
11         4912610   49.169428      BGN 2019-04-12         Fred    306.325537
12         4910678  686.373964      SEK 2019-04-13        Willy    720.692663
13         4894727  324.492779      PLN 2021-04-14         Fred    853.416008
14         4913930  751.948006      BRL 2021-04-15        Willy   1691.883015
15         4881064  794.900074      RON 2021-04-16         Fred   1947.505181
16         4908879  697.473283      CHF 2021-04-17        Willy   8830.011761
17         4897627  882.426069      USD 2021-04-18         Fred  10262.615182
18         4910467  576.563519      EUR 2021-04-19        Willy    576.563519
19         4901219  194.648615      BGN 2021-11-20         Fred   1212.660871
20         4895217  900.105461      SEK 2021-11-21        Willy    945.110734
21         4911087  941.112209      PLN 2019-11-22         Fred   2475.125108
22         4878259  413.399270      BRL 2019-11-23        Willy    930.148357
23         4910691  682.668143      RON 2019-11-24         Fred   1672.536950
24         4880511  200.071910      CHF 2019-11-25        Willy   2532.910377
25         4910584  460.418910      USD 2019-11-26         Fred   5354.671922
26         4880809  902.998288      EUR 2019-11-27        Willy    902.998288
27         4908524  482.891603      BGN 2019-11-28         Fred   3008.414689
28         4910472  491.096815      SEK 2019-11-29        Willy    515.651656
29         4877291  607.767292      PLN 2019-11-30         Fred   1598.427978
30         4910215  401.538237      BRL 2019-05-01        Willy    903.461032
31         4910459  913.991314      CHF 2019-05-02         Fred  11571.130031
32         4879842   95.642918      USD 2019-05-03        Willy   1112.327133
33         4903175  925.834052      EUR 2019-05-04         Fred    925.834052
34         4911686  810.543682      BGN 2019-05-05        Willy   5049.687138
35         4877575  866.024408      SEK 2019-05-06         Fred    909.325629
36         4912545  334.995110      PLN 2019-05-07        Willy    881.037139
37         4881518  806.071723      BRL 2019-05-08         Fred   1813.661376
38         4877575  660.671567      RON 2019-05-09        Willy   1618.645340

In [29]:
df.sample(10)

    transaction_id      Amount Currency       Date Autorisation  Amount (GHS)
8          4879666  831.079396      CHF 2019-04-09        Willy  10521.465157
20         4895217  900.105461      SEK 2021-11-21        Willy    945.110734
0          4903575  875.894663      CHF 2019-04-01        Willy  11088.826435
16         4908879  697.473283      CHF 2021-04-17        Willy   8830.011761
25         4910584  460.418910      USD 2019-11-26         Fred   5354.671922
38         4877575  660.671567      RON 2019-05-09        Willy   1618.645340
19         4901219  194.648615      BGN 2021-11-20         Fred   1212.660871
34         4911686  810.543682      BGN 2019-05-05        Willy   5049.687138
11         4912610   49.169428      BGN 2019-04-12         Fred    306.325537
5          4881615  819.192469      PLN 2019-04-06         Fred   2154.476193